$small-screen-padding: 10vw;

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    width: 100vw;
}

body {
    width: 100%;
    max-width: 100%;
    margin: 0;
    font-family: 'Abel', sans-serif;
    min-height: 100vh;
    
}

