@import './colors';

header {
    background-color: $header-background;
    min-height: 15vh;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    
    .header-box {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        @media (min-width: 500px) {
            flex-flow: row nowrap;
            justify-content: space-between;
            
            width: 75%;
        }    

        .logo {
            width: 6rem;
            padding-top: 1rem;

        }

        nav {
            font-size: 14px;
            padding: .125rem 0 1rem 1.4rem;
            text-align: center;

            @media (min-width: 500px) {
                text-align: right;
                padding: 0;
            }
        

            a {
                padding: 0.375rem;
                text-decoration: none;
                color: $header-font-light;
            }
        }   

    }
    
    
}





