@import 'common/common';

main{
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 5%;
    
    @media(min-width: 600px){
        font-size: 19px;
        padding: 0 10%;
    }
    @media(min-width: 900px){
        font-size: 24px;
        padding: 0 15%;
        
    }
    @media(min-width: 1200px){
        font-size: 29px;
        padding: 0 20%;
    }


    h1, h2{
        width: 60%;
        font-weight: 400;
        margin: 0.5rem;
    }
    h2{
        @media(min-width: 900px){
            width: 100%;
        }
    }

    h1{
        line-height: 3rem;

        @media(min-width: 600px){
            line-height: 4rem;
        }
        @media(min-width: 900px){
            line-height: 5rem;
            
        }
        @media(min-width: 1200px){
            line-height: 6rem;
        }
    }

    h2{
        line-height: 2rem;
    }

    .img-container{
        justify-self: center;

        width: 100%;
        margin: 1rem 0;

        img, .map{
            width: 100%;
        }
    }

    @media(min-width:800px){
        .details{
            display: flex;
            justify-content: flex-start;

            .details-item{
                padding-right: 2rem;

                p{
                    font-size: 1.5rem;
                }
            }


        }
    }
    p{
        margin: 0;
    }

    // .map{
    //     // position: absolute
    // }

}